In [3]:
print('Thanks ineuron for your community service')

Thanks ineuron for your community service

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [59]:
m = []
for i in range(2000,3200):
    if i%7==0 and i%5==0:
        m.append(str(i))
print(','.join(m))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name

In [78]:
first_name = str(input('Enter first name :'))
last_name = str(input('Enter last name :'))
print(first_name[::-1]+" "+last_name[::-1])

Enter first name :balaji
Enter last name :krishna
ijalab anhsirk

# Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [82]:
pi = 3.14
r = int(input('Enter range'))
volume = 4/3 * pi * r**3
volume

Enter range5

523.3333333333334

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [85]:
seq = input('Enter interger with commas')
l =seq.split(',')
l

Enter interger with commas1,2,3

['1', '2', '3']

Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [91]:
input_user = int(input('Enter the range for pattern'))
for rowx in range(0,input_user):
    for colnx in range(0,rowx+1):
        print("*",end=" ")
    print(' ')
for rowx in range(input_user,0,-1):
    for colnx in range(0,rowx-1):
        print("*", end=" ")
    print("  ")

Enter the range for pattern5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program to reverse a word after accepting the input from the user.

In [34]:
inp_user = "AcadGild"
inp_user[::-1]

'dliGdacA'

WE, THE PEOPLE OF INDIA, 
  having solemnly resolved to constitute India into a SOVEREIGN, 
      SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
       and to secure to all its citizens

In [65]:
strn = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
strn

'WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'

In [71]:
strno = strn.replace('INDIA,',"INDIA, \n").replace("SOVEREIGN,","SOVEREIGN, ! \n\t").replace("REPUBLIC","REPUBLIC\n\t\t")
print(strno)

WE, THE PEOPLE OF INDIA,
 having solemnly resolved to constitute India into a SOVEREIGN, !
	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens